.answerIcon {
  position: relative;
  background-image: url('https://assets.cdn.filesafe.space/rhWELETMkXWiHgXmcNv0/media/69984ecd63ae7520d51f9030.png');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 2px solid #C5A059;
}
.typeingIcon {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 16px;
}
.questionIcon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Ccircle cx='20' cy='20' r='20' fill='%23111111'/%3E%3Ccircle cx='20' cy='15' r='7' fill='%23C5A059'/%3E%3Cpath d='M4 38 Q4 26 20 26 Q36 26 36 38' fill='%23C5A059'/%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 2px solid #C5A05966;
}
.answer::before,
.question::before {
  content: '';
  position: absolute;
  top: 0;
  width: 8px;
  height: 12px;
}
.answer::before {
  left: 0;
  background: url(./icons/answer.svg) no-repeat;
}
.answerWrap .itemOperation {
  display: none;
}
.answerWrap:hover .itemOperation {
  display: flex;
}
.question::before {
  right: 0;
  background: url(./icons/question.svg) no-repeat;
}
.textArea {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 90px;
  border-radius: 12px;
  line-height: 20px;
  background-color: #fff;
}
.textArea:hover {
  background-color: #fff;
}
.count {
  padding: 0 2px;
}
.sendBtn {
  background: url(./icons/send.svg) center center no-repeat;
}
.sendBtn:hover {
  background-image: url(./icons/send-active.svg);
  background-color: #EBF5FF;
}
.textArea:focus+div .count {
  display: block;
}
.textArea:focus+div .sendBtn {
  background-image: url(./icons/send-active.svg);
}
